*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    height: 620px;
    width: 50%;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 3px 3px red;
    margin: 10vh auto;
}
.main h1{
    padding-left: 30%;
    padding-top: 5px;
    text-shadow: 1px 2px 3px red;
    font-size: 50px;
    
}
.box1{
    height: 15vh;
    width: 30%;
    box-shadow: 1px 2px black;
}
.box1 ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15%;

}
.box1 ul li{
    height: 40px;
    width: 40px;
    box-shadow: 1px 2px black;
    list-style: none;
    margin-top: 5%;
    margin-left: 4%;
}

.box1 li img{
    height: 40px;
    width: 40px;
}
#bg{
    position: absolute;
    top: 40%;
    left: 42%;
}
.box1 ul li:hover{
    cursor: pointer;
    padding: 2%;
    background-color: aqua;
    color: white;
}
.box2 ul{
    gap: 10%;
}
.box2 ul li{
    width: 55px;
    font-size: small;
}
.box2 ul li{
    margin-left: 1%;
}
#bg1{
    position: absolute;
    top:45%;
    left: 62%;
    border-radius: 50%;
    
}
#head{
    position: absolute;
    top: 43%;
    left: 43%;
    margin-top: 2%;
}

#red:hover{
    background-color: red;
}

#blue:hover{
    background-color: blue;
}

#pink:hover{
    background-color: palevioletred;
}

#purple:hover{
    background-color: purple;
}

#teal:hover{
    background-color: teal;
}

#orange:hover{
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: cursive;
    font-family: fantasy;
    
}
